<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contact</title>
	<style type="text/css">
		ul.errorlist{
			margin:0;
			padding: 0;
		}
		.errorlist li{
			background-color:red;
			color:white;
			display:block;
			font-size:1.3em;
			margin: 0 0 3px;
			padding: 4px 5px;

		}
	</style>
</head>
<body>
	Hola!
	<h3>Contact Us</h3>
	{% if form.errors %}
		<p style="color:red">
			Please correct the errors {{ form.errors|pluralize }} below</p>
	{% endif %}

	<form action="" method="post">
		<table>
			{{ form.as_table }}
		</table>
		{% csrf_token %}
		<input type="submit" value="Submit">
	</form>
</body>
</html>